<div class="intro-area">
  <div class="containter">
    <div class="row">
      <div class="tagline col s12">
        <h4> Welcome to a website of data provided by government API's</h4>
      </div>
    </div>
  </div>
</div>

<div class="apod-full-area">

  <div class="row">
    <div class="apod-name">
      <h3><%= @module_data[:title] %></h3>
    </div>
  </div>

  <div class="row apod-img-desc">
    <div class="apod-image-area col s6" >
      <img class="responsive-img materialboxed" data-caption="<%= @module_data[:title] %>"
       src="<%= @module_data[:img_url] %>" alt="This image cannot be displayed, but NASA
       is hosting the content you are looking for at <%= @module_data[:img_url]%>">

    </div>

    <div class="apod-description col s6 right">
      <p><%= @module_data[:description] %></p>
    </div>
  </div>

</div>

<div class="post-apod">
  <div class="container">
    <div class="row">
      <div class="col s10 offset-s1 apod-info">
        <p>Above is an example using the API for NASA Astronomical Picture Of the Day,
          or APOD. Everyday a new amazing picture of Earth and beyond. You can read
          more about their API's <a target="_blank" href="https://api.nasa.gov/api.html">here</a></p>
      </div>
    </div>
  </div>
</div>
