<div class="container">
  <%= form_for @rover_module do |f| %>

    <h2>Rover Module</h2>

    <div class="row">
      <div class="input-field col s8">
        <select name="rover_module[rover]">

          <% @rover_module.rover_types.each do |r_type| %>
            <option value="<%= r_type %>"><%= r_type %></option>
          <% end %>

        </select>
        <label>Rover Select</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s8">
        <select multiple name="rover_module[camera]">
          <option value="" disabled selected>Chose a camera (optional)</option>

          <% @rover_module.camera_types.each do |rover, c_types| %>
            <optgroup label="<%= rover %>">

              <% c_types.each do |camera| %>
                <option value="<%= camera[0] %>"><%= camera[1] %></option>
              <% end %>

            </optgroup>
          <% end %>

        </select>
        <label>Camera Select (optional)</label>
      </div>
    </div>


    <div class="row">
      <div class="col s3 offset-s2">
        <%= f.submit "Find Valid Martian Sols", class: "btn" %>
      </div>
    </div>

  <% end %>
</div>
